body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-container {
  text-align: center;
  background: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 400px;
}

h1 {
  font-size: 24px;
  color: #444;
  position: relative;
}

.title-app {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

#secret-button {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.title-app:hover #secret-button {
  visibility: visible;
  opacity: 1;
}

#secret-options {
  margin-top: 10px;
}

.hidden {
  display: none;
}

.option-button {
  margin: 5px;
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f1f1f1;
}

.option-button:hover {
  background-color: #ddd;
}
